demo.yml
app:
  description: ''
  icon: 📑
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: advanced-chat
  name: 知识库 + 聊天机器人
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.41@680b9357e6cd290ef5e8691a35286bffddb75bf30c8dacfe351d8b5e5fd87283
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528914102-1711528915811
      source: '1711528914102'
      sourceHandle: source
      target: '1711528915811'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528915811-1711528917469
      source: '1711528915811'
      sourceHandle: source
      target: '1711528917469'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1711528917469-source-1719060889083-target
      source: '1711528917469'
      sourceHandle: source
      target: '1719060889083'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: answer
      id: 1719060889083-source-1711528919501-target
      source: '1719060889083'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 72
      id: '1711528914102'
      position:
        x: 0
        y: 15
      positionAbsolute:
        x: 0
        y: 15
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - V1DWpRwdIoGEIZwlH9qGjU5NqR/wIL66TCxYNXw+6f6f/HU6f6D/W2lfcZ3BkJHP
        - bMCN9rw2/lsZ2cyDyIcWMgedPD+frre4AVNq9jSX28nEcnYEMDqo1ksN+PTLjYLb
        desc: 这个功能让你能够从知识库中查找与用户问题有关的文本内容。
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: 知识检索
        type: knowledge-retrieval
      dragging: false
      height: 95
      id: '1711528915811'
      position:
        x: 342
        y: 3
      positionAbsolute:
        x: 342
        y: 3
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gemma-4-e4b-it
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: fd3639ed-488a-43e8-b7bc-bc36026f9e17
          role: system
          text: '你是一个乐于助人的助手。

            使用以下内容作为你所学习的知识，放在<context></context> XML标签内。

            <context>

            {{#context#}}

            </context>

            回答用户时：

            如果你不知道，就直说你不知道。如果你在不确定的时候不知道，就寻求澄清。

            避免提及你是从上下文中获取的信息。

            并根据用户问题的语言来回答。'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1711528917469'
      position:
        x: 684
        y: 7
      positionAbsolute:
        x: 684
        y: 7
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1719060889083.answer#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: '1711528919501'
      position:
        x: 1368
        y: 0
      positionAbsolute:
        x: 1368
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        instruction: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemma-4-e4b-it
          provider: langgenius/openai_api_compatible/openai_api_compatible
        parameters:
        - description: Dify的安装
          name: answer
          required: true
          type: string
        query:
        - '1711528917469'
        - text
        reasoning_mode: prompt
        selected: true
        title: 参数提取器
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1719060889083'
      position:
        x: 1026
        y: 7
      positionAbsolute:
        x: 1026
        y: 7
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 97.9237072392905
      y: 231.16036414565824
      zoom: 0.5833333333333334
  rag_pipeline_variables: []
